
/* Responsive Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* switch to fluid if less than the fixed width size */
@media (max-width: $size-fixed-width + 50) {
  header {
    .fixed-width {
      width: 100%;

      .stripe {
        display: none;
      }
    }
    .social {
      display: none; /* change to display elsewhere */
    }
    .stripe {
      left: 0px;
      width: 100%;
      .detail {
        display: none;
      }
    }
    .title {
      position: relative;
      margin: 0px auto;
    }
  }
  .fixed-width {
    width: 100%;
  }
  body.blog,
  body.archive,
  body.search {
    #main {
      article {
        height: auto;

        ul.meta {
          display: none;
        }
        div.primaryimage {
          left: 0px;
          top: 0px;
          width: 100%;
          height: 200px;
          margin-bottom: 15px;
          border: none;
        }
        ul.additionalimages {
          display: none;
        }
        h1 {
          padding: 0px;
        }
        p, p.columns {
          margin: 5px 0px 10px;
          padding: 0px;
          column-count: 1;
          -moz-column-count: 1;
          -webkit-column-count: 1;
        }
        a.more {
          position: relative;
          left: 0px;
          top: 0px;
          display: block;
          margin: 0px auto 20px;
        }

      }
    }
  }
  body.single {
    #main {
      article {
        p {
          padding: 0px;
        }
        .meta {
          text-align: center;
        }
        .gallery {
          .gallery-item {
            img {
              width: 100%;
              border: none;
            }
          }
        }
        .strava-frame {
          float: left;
          margin-left: 0;
          width: 250px;
        }
      }
    }
  }
}

/* remove the navigation and scale down title if less than the threshold */
@media (max-width: $size-hidden-nav) {
  header {
    height: 26vw;

    .title {
      width: 95vw;
      height: 25vw;
      background-size: 100%;

      a {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
      }
    }
    .navigation {
      display: none; /* change to display elsewhere */
    }
    .stripe {
      display: none;
    }
  }
  body.single {
    #main {
      article {
        h1 {
          font-size: 5vw;
          line-height: 6vw;
        }
      }
    }
  }
}

/* adjustment for negative space used by title area */
@media (max-width: $size-fixed-width + 130) {
  header {
    .title {
      left: 0px;
    }
    .fixed-width {
      .stripe {
        .detail {
          left: 415px;
        }
      }
    }
  }
}
