
/* Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import "normalize.css";


/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* fonts */
$font-stack-headings:   "azo-sans-uber", sans-serif;
$font-stack-body:       "futura-pt", sans-serif;

/* colors */
$color-header-nav:      #333;
$color-titles:          #000;
$color-body-text:       #000;
$color-button-text:     #000;
$color-separators:      #333;
$color-links:           #29abe2;
$color-links-hover:     #047999;
$color-photo-border:    #fff;

/* textures */
$paper-bark:            url(images/paper/bark.jpg);
$paper-deep-sea:        url(images/paper/deep-sea.jpg);
$paper-earth:           url(images/paper/earth.jpg);
$paper-eggshell:        url(images/paper/eggshell.jpg);
$paper-fawn:            url(images/paper/fawn.jpg);
$paper-fern:            url(images/paper/fern.jpg);
$paper-limestone:       url(images/paper/limestone.jpg);
$paper-mushroom:        url(images/paper/mushroom.jpg);
$paper-olive:           url(images/paper/olive.jpg);
$paper-sand:            url(images/paper/sand.jpg);
$paper-sedona:          url(images/paper/sedona.jpg);
$paper-stormy-sky:      url(images/paper/stormy-sky.jpg);

/* images */
$image-separator-fish3: url(images/separator-fish.png);
$image-separator-fish1: url(images/separator-fish-single.png);
$image-title:           url(images/title.png);
$image-stripe:          url(images/header-stripe.png);
$image-stripe-dog:      url(images/header-dog.png);
$image-stripe-sloth:    url(images/header-sloth.png);
$image-link-instagram:  url(images/link-instagram.png);
$image-link-last-fm:    url(images/link-last-fm.png);
$image-link-twitter:    url(images/link-twitter.png);
$image-arrow:           url(images/arrow-top.png);

/* sizes */
$size-fixed-width:      900px;
$size-hidden-nav:       750px;
$size-social-margin:    35px;
$size-search-width:     210px;
$size-photo-border:     10px;
$size-photo-sub-border: $size-photo-border / 2;

$offset-header-stripe:  116px;


/* Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin position-absolute ($left, $top, $width: auto, $height: auto) {
  position: absolute;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
}


/* Extensions
–––––––––––––––––––––––––––––––––––––––––––––––––– */

%shadow-standard {
  box-shadow: 0px 1px 2px #000;
}
%shadow-pressed {
  box-shadow: 0px 1px 1px #777;
}


/* Common Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: $color-links;
  text-decoration: underline;

  &:hover {
    color: $color-links-hover;
    text-decoration: none;
  }
}
.fixed-width {
  width: $size-fixed-width;
  margin: 0 auto;
  position: relative;
}


/* HTML Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: $font-stack-body;
  color: $color-body-text;
  background: $paper-sand;
}

/* header */
header {
  position: relative;
  width: 100%;
  height: 224px;

  .title {
    @include position-absolute (-63px, 6px, 650px, 167px);
    background: $image-title;
    background-size: 650px;
    background-repeat: no-repeat;

    a {
      @include position-absolute (140px, 58px, 362px, 55px);
      text-indent: -9999px;
      overflow: hidden;
      z-index: 1;
    }
  }

  .fixed-width {
    .stripe {
      @include position-absolute (25%, $offset-header-stripe, 75%, 15px);
      background: none;
      z-index: -1;

      .detail {
        @include position-absolute (352px, -27px, 48px, 29px);
        background-image: $image-stripe-dog;
        background-size: 48px;
      }
    }
  }
  .stripe {
    @include position-absolute (40%, $offset-header-stripe, 60%, 15px);
    background-image: $image-stripe;
    background-size: 305px;
    z-index: -1;

    .detail {
      position: relative;
      background-image: $image-stripe-sloth;
      background-size: 125px;
      width: 125px;
      height: 93px;
      display: block;
      float: right;
      top: -4px;
      margin-right: 35px;
    }
  }

  .navigation {
    @include position-absolute (0px, 170px, 100%);
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;

    li {
      display: inline-block;
      padding: 0px;
      margin: 0px 5px;
      font-size: 22px;

      a {
        text-decoration: none;
        color: $color-header-nav;
        padding: 0px 5px;
      }

      &:hover {
        border-bottom: 1px solid $color-header-nav;
      }
    }
    li.selected {
      border-bottom: 1px solid $color-header-nav;
    }
    li.separator {
      background: $image-separator-fish3;
      background-size: 26px;
      width: 26px;
      height: 26px;
      position: relative;
      top: 5px;
      padding: 0px;

      &:hover {
        border: none;
      }
    }
    li.search {
      position: relative;
      border-bottom: 1px solid $color-header-nav;

      input {
        background: none;
        border-style: none;
        width: $size-search-width - 35;
        padding: 0px 30px 0px 5px;
        outline: none;
        color: $color-header-nav;
      }
      .search-button {
        @include position-absolute ($size-search-width - 30, 4px);
        font-size: 20px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .social {
    @include position-absolute (0px, 0px, 100%);

    a {
      display: block;
      float: right;
      width: 50px;
      height: 50px;
      overflow: hidden;
      margin-left: 10px;
      margin-top: $size-social-margin;
      text-indent: -999px;
      background-size: 50px;
    }
    .instagram {
      margin-right: $size-social-margin;
      background-image: $image-link-instagram;
    }
    .twitter {
      background-image: $image-link-twitter;
    }
    .lastfm {
      background-image: $image-link-last-fm;
    }

  }

}

/* content - general */
#main {
  @extend %shadow-standard;
  background: $paper-eggshell;
  margin-top: 15px;

  article {
    padding: 15px;
    border-bottom: 1px solid $color-separators;
    position: relative;

    h1 {
      font-family: $font-stack-headings;
      text-align: center;
      margin: 0px;
      padding: 15px;
      color: $color-titles;
    }
  }
}

/* content - list pages */
body.blog,
body.archive,
body.search {
  header {
    .navigation {
      .separator {
        margin: 0px 10px;
      }
    }
  }
  #main {
    article {
      height: 280px;

      ul.meta {
        width: 110px;
        list-style: none;
        margin: 0px 15px 0px 0px;
        padding: 0px;
        display: block;
        float: left;

        li {
        }
        li.year {
          font-size: 20px;
          line-height: 20px;
        }
        li.month {
          font-size: 27px;
          line-height: 23px;
          font-weight: bold;
        }
        li.day {
          font-size: 85px;
          line-height: 70px;
          text-align: center;
          font-family: $font-stack-headings;
        }
        li.categories-title {
          font-size: 16px;
        }
        li.categories {
          font-size: 16px;
          line-height: 18px;
        }
      }
      div.primaryimage {
        @extend %shadow-standard;
        width: 349px - ($size-photo-border * 2);
        height: 270px - ($size-photo-border * 2);
        border: $size-photo-border solid $color-photo-border;
        overflow: hidden;
        display: block;
        float: left;
        margin-right: 15px;

        img {
          width: 100%;
        }
      }
      ul.additionalimages {
        $image-height: 100px;
        @include position-absolute (15px, 195px);
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          @extend %shadow-standard;
          width: $image-height - ($size-photo-sub-border * 2);
          height: $image-height - ($size-photo-sub-border * 2);
          border: $size-photo-sub-border solid $color-photo-border;
          margin-right: 0 - $size-photo-sub-border; /* stack the photos over each other by the margin amount */
          overflow: hidden;
          display: block;
          float: left;

          img {
            width: 100%;
          }
        }
        li.more {
          $height: 40px;

          width: 100px;
          height: $height;
          border: none;
          margin-top: $image-height - $height;
          margin-left: 5px;
          background-image: $paper-sand;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          line-height: $height;
          color: $color-button-text;

          a {
            color: $color-button-text;
            text-decoration: none;
          }
          &:hover {
            @extend %shadow-pressed;
            margin-top: $image-height - $height + 1px;
          }
        }
      }
      h1 {
        font-size: 20px;
        line-height: 20px;
      }
      p {
        margin: 0px;
        padding: 0px 15px 0px 510px;
        font-size: 20px;
        line-height: 28px;
      }
      p.columns {
        padding: 0px 15px 0px 0px;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 40px;
        -moz-column-gap: 40px;
        -webkit-column-gap: 40px;

        .indent {
          margin-left: 20px;
        }
      }
      a.more {
        @extend %shadow-standard;
        @include position-absolute (635px, 255px, 125px, 40px);
        background-image: $paper-sand;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        text-decoration: none;
        color: $color-button-text;

        &:hover {
          @extend %shadow-pressed;
          margin-top: 1px;
        }
      }
    }
  }
}

/* content - individual pages */
body.single {
  header {
    .navigation {
      .separator {
        margin: 0px 102px;
      }
    }
  }
  #main {
    article {
      padding-bottom: 40px;

      h1 {
        border-bottom: 1px solid $color-separators;
        padding: 25px 15px 35px;
        font-size: 41px;
        line-height: 45px;
      }
      h2 {
        border-bottom: 1px solid $color-separators;
        font-size: 25px;
        text-align: center;
        font-family: $font-stack-headings;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        padding: 0px 100px;
        text-align: justify;
      }
      blockquote {
        p {
          text-align: center !important;
          margin: 0px !important;
          font-weight: bold;
          text-transform: uppercase;
          color: rgba(0,0,0,0.5);
        }
      }
      ol, ul {
        padding: 0px 100px;
        margin: 0px 0px -15px;

        li {
          font-size: 20px;
          line-height: 30px;
          padding: 0px 0px 20px;
          text-align: justify;
        }
      }
      p, li {
        img {
          @extend %shadow-standard;
          display: block;
          max-width: 100%;
          height: auto;
          border: $size-photo-border solid $color-photo-border;
        }
        img.alignleft {
          float: left;
          margin: 5px 15px 5px -90px;
          max-width: 66%;
          height: auto;
        }
        img.alignright {
          float: right;
          margin: 5px -90px 5px 15px;
          max-width: 66%;
          height: auto;
        }
      }
      .wp-video {
        @extend %shadow-standard;
        display: block;
        max-width: calc(100% - #{$size-photo-border * 2});
        height: auto;
        border: $size-photo-border solid $color-photo-border;
      }
      hr {
        width: 85%;
        margin: 20px auto 0px;
      }
      dl {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding: 0 100px;

        dt {}
        dd {
          line-height: 20px;
          margin: 10px 50px 20px;
        }
      }
      .meta {
        text-align: right;
        font-size: 16px;
        padding-bottom: 30px;

        .separator {
          background: $image-separator-fish1;
          background-size: 18px;
          width: 18px;
          height: 9px;
          display: inline-block;
          position: relative;
          top: -1px;
          padding: 0px;
          margin: 0px 15px;
        }
      }
      .gallery {
        margin-top: 30px;
        text-align: center;

        .gallery-item {
          margin: 0px 0px 10px;
          padding: 0px;

          img {
            @extend %shadow-standard;
            width: 95%;
            height: auto;
            border: $size-photo-border solid $color-photo-border;
          }
        }
        br {
          display: none;
        }
      }
      .top {
        display: block;
        margin: 0px auto;
        background: $image-arrow;
        background-size: 50px;
        background-position: center top;
        background-repeat: no-repeat;
        color: $color-body-text;
        text-decoration: none;
        text-align: center;
        width: 100px;
        height: 20px;
        padding-top: 50px;
      }
      .video {
        width: 100%;
        height: 447px;
      }
      .strava-frame {
        @extend %shadow-standard;
        width: 300px;
        display: inline-block;
        float: left;
        margin: 17px 30px 35px 90px;
      }
      .photo-grid {
        @extend %shadow-standard;
        display: grid;
        gap: 10px;
        border: 10px solid white;
        background: white;
        margin: 11px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@import "_responsive.scss";